.container-black{
    background-color: #000;
}
.row{
    
    display: flex;
    flex-wrap: wrap;
}
.banner-cont{
    position: relative;
    margin: auto;
}
.banner-cont img{
    width: 100%;
  
}
.banner-cont .header-first-link{
    position: absolute;
    padding-top: 15px;
    padding-left: 30px;
}
.banner-cont .header-link{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border: 2px solid #fff;
    width: 170px;
    bottom: 50px;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.banner-cont .header-link:hover{
    background-color: #fff;
    color: #2BC955;
}
.banner-cont p{
    position: absolute;
    right: 30px;
    bottom: 20px;
    color: #fff;
    font-size: 12px;
}

@media only screen and (max-width:960px) {
    .container-black{
        background-color: #fff;
    }
    .container-fluid{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media only screen and (max-width:720px){
    .banner-cont .header-link{
        bottom: 40px;
        width: 150px;
        border: 1px solid #fff;
    }
    .banner-cont p{
        font-size: 10px;
        right: 20px;
        bottom: 15px;
    }
    .banner-cont .header-first-link{
        padding-top: 10px;
        padding-left: 20px;
    }
}
@media only screen and (max-width:540px) {
    .banner-cont .header-link{
        bottom: 30px;
        width: 120px;
        font-size: 15px;
        padding: 8px 0;
    }
    .banner-cont p{
        font-size: 8px;
        bottom: 5px;
        right: 10px;
    }
    .banner-cont .header-first-link{
        width: 90px;
    }
}
@media only screen and (max-width:400px){
    .banner-cont .header-link{
        bottom: 20px;
        width: 100px;
        padding: 6px 0;
    }
    .banner-cont p{
        font-size: 6px;
        bottom: -5px;
        
    }
    .banner-cont .header-first-link{
        width: 80px;
    }

}



